


#skill_tree_viewport_thingy_that_should_not_have_such_a_long_name {

    position: relative;
    background-color: lightseagreen;
    height: 100%;
    width: 100%;


}
#skill_wrapper {

    height: 100%;
    width: 100%;
    position: relative;

}
.skills {

    position: absolute;
    height: 128px;
    width: 128px;

    background-color: transparent;
    border: none;
    padding: 0px;

    background-image: url(pics/skills/icon.webp);
    background-size: cover;
}
.start {

    background-image: url(pics/skills/starticon.webp);

}
.magic {

    background-image: url(pics/skills/magic.png);

}
.power {
    
    background-image: url(pics/skills/power.png);

}
.skill {
    
    background-image: url(pics/skills/skill.png);

}
.durability {
    
    background-image: url(pics/skills/durability.png);

}
.locked {

    filter: saturate(0);
    cursor: default !important;

}

#draggable_window {

    position: absolute;
    /*width: 200%;*/
    height: 1000%;
    aspect-ratio: 1/1;
    
    /*standard values: scale:1; top:0;*/
    scale: 1;
    top: -449%;
    left: -199%;
    border: 2px solid red;
}