/*Well let's hope this goes well*/

body {

    padding: 0px;
    margin: 0px;

    overflow: hidden;

}
::-webkit-scrollbar {

    width: 0.45vw;
    height: 0.45vw;

}

::-webkit-scrollbar-track {

    margin-block: 0.5vw;

}

::-webkit-scrollbar-thumb {

    border-radius: 5vw;
    

}

@supports (scrollbar-color: blue blue) {

    * {
    scrollbar-width: thin;
    }

}
.invisible {
    display: none !important;
}

dialog {
    z-index: 10;
    top: 10%;
    width: 20%;
    text-align: center;
}
#input_button {

    margin-top: 10px;

}

#sidebar_wrapper {

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 0px;
    z-index: 10;

    pointer-events: none;

}

#focus_bar {

    height: 100%;
    width: 20%;
    background-color: blue;

    padding-inline: 10px;
    display: inline-block;
    text-align: center;
    position: relative;

    overflow-y: scroll;
    pointer-events: all;

}

#skill_name,
#your_skills {

    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;

}

#skill_desc,
#skill_list {

    color: white;
    font-family: Arial, sans-serif;
    font-size: large;

    min-height: calc(100% - (36.7px + 80px + 36px + 42.88px));

}

#learn_button {

    position:sticky;
    bottom:0px;
    padding: 10px;
    background-color: blue;

}

#learn_skill {


    height: 60px;
    width: 160px;

    color: white;
    background-color: green;
    font-size: larger;
    font-weight: bold;

    border: 1px solid lightgreen;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightgreen;

}
button:hover,
#input_button:hover,
li {

    cursor: pointer;

}



#skill_bar {

    height: 100%;
    width: 20%;
    background-color: blue;

    padding-inline: 10px;
    text-align: center;
    position: relative;
    display: inline-block;

    overflow-y: scroll;
    pointer-events: all;

}

#skill_list {

    list-style: none;
    font-size: larger;

    margin-bottom: 15px;
    padding-left: 0px;

}

#imp-exp_buttons {

    position:sticky;
    bottom:0px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;

    padding: 10px;
    background-color: blue;

}

#export_list,
#import_list,
#input_button {
    
    display: inline-block;

    height: 60px;
    width: 120px;

    color: white;
    font-size: larger;
    font-weight: bold;

    border: 1px solid;
    border-radius: 10px;

}

#export_list {

    background-color: rgb(255, 77, 77);
    border-color: rgb(255, 140, 140);
    box-shadow: 0px 0px 20px rgb(255, 140, 140);

}

#import_list,
#input_button {

    background-color: rgb(77, 151, 255);
    border-color: rgb(140, 176, 255);
    box-shadow: 0px 0px 20px rgb(140, 176, 255);

}